<section class="container film">
    <ul class="film__list">

        <li class="film__item hidden_item">
            <img class="film__img " src="" alt="poster">
            <div class="film__info">
                <h2 class="film__name"></h2>
                <p class="film__genre"> <span class="film__genre_name"></span> <span>|</span> <span class="film__year"></span><span class="film__rating "></span> </p>
            </div>
            
        </li>

        
        
        
        
    </ul>

</section>